@font-face {
  font-family: 'Aberforth';
  src: url('./fonts/Aberforth.eot');
  src: 
    url('./fonts/Aberforth.eot') format('embedded-opentype'), 
    url('./fonts/Aberforth.woff2') format('woff2'), 
    url('./fonts/Aberforth.woff') format('woff'), 
    url('./fonts/Aberforth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

a {
  color: #eb6145;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}


/* SVG colors */
.ra-svg-lightBeige {
  fill: #eee9e0;
}

.ra-svg-green {
  fill: #33a8aa;
}

.ra-svg-blue {
  fill: #33377a;
}

.ra-svg-yellow {
  fill: #f5a449;
}

.ra-svg-gray {
  fill: #55534f;
}

.ra-svg-lightOrange {
  fill: #f5a449;
}

.ra-svg-orange {
  fill: #eb6145;
}

.ra-svg-pink {
  fill: #981f62;
}

/* SVG logo colors */
#logo_rede_athis path {
  transition: fill 0.3s ease;
}
/* Hover off */
#logo_rede_athis .ra-hv-svg-yellow , .ra-hv-svg-orange, .ra-hv-svg-pink, .ra-hv-svg-blue, .ra-hv-svg-green {
  fill: #55534f;
}
/* Hover on */
#logo_rede_athis:hover .ra-hv-svg-yellow {
  fill: #f5a449;
}
#logo_rede_athis:hover .ra-hv-svg-orange {
  fill: #EB6145;
}
#logo_rede_athis:hover .ra-hv-svg-pink {
  fill: #981F62;
}
#logo_rede_athis:hover .ra-hv-svg-blue {
  fill: #33377A;
}
#logo_rede_athis:hover .ra-hv-svg-green {
  fill: #33a8aa;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* TINYMCE STYLES */
/* Estilos para o container do editor */
.tox-tinymce-container {
  border-radius: 0px;
  overflow: hidden;
  transition: border-color 0.3s ease;
  border: 1px solid rgba(13, 11, 7, 0.12);
}

.tox-tinymce-container:hover {
  border-color: rgba(13, 11, 7, 0.87);
}

.tox-editor-header {
  background-color: #f4f0eb !important;
}

/* Melhorias na barra de ferramentas */
.tox .tox-toolbar__primary {
  background-color: #f4f0eb !important;
}

/* Melhorias no conteúdo editável */
.tox-statusbar {
  background-color: #f4f0eb !important;
}

/* Estilos para modo de leitura */
.tox-tinymce-container.read-only .tox-toolbar {
  display: none;
}

/* Estilos para lista suspensa */
.tox .tox-menu.tox-collection.tox-collection--list {
  background-color: #f4f0eb !important;
}

.tox .tox-collection__item-label > :is(h1, h2, h3, h4, p) {
  background-color: transparent !important;
}

.tox .tox-collection--list .tox-collection__item:hover {
  background-color: #E1DDD9  !important;
}

.tox .tox-collection--list .tox-collection__item--enabled {
  background-color: #EBE5DF  !important;
}

.tox .tox-collection--list .tox-collection__item--active {
  background-color: #EBE5DF  !important;
}


/* Estilos para páginas institucionais públicas (Apresentação e Quem Somos) */
/* GENERAL CONTENT STYLES */
.content-body {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
}
.content-h3 {
  font-family: 'Roboto';
  font-weight: 500;
  margin-block-start: 13px;
  margin-block-end: 13px;
  font-size: 20px;
}
.content-h4 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 400;
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-size: 16px;
}
/* INSTITUTIONAL STYLES*/
.institutional-h1 {
  font-family: 'Aberforth';
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-block-start: 20px;
  margin-block-end: 20px;
  color: #f5a449;
}
.institutional-h2 {
  font-family: 'Aberforth';
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  margin-block-start: 16px;
  margin-block-end: 16px;
  color: #f5a449;
}
/* TEAM STYLES */
.team-h1 {
  font-family: 'Aberforth';
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-block-start: 20px;
  margin-block-end: 20px;
  color: #981F62;
}
.team-h2 {
  font-family: 'Aberforth';
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  margin-block-start: 16px;
  margin-block-end: 16px;
  color: #981F62;
}
/* CONTRIBUTE STYLES */
.contribute-h1 {
  font-family: 'Aberforth';
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-block-start: 20px;
  margin-block-end: 20px;
  color: #33377A;
}
.contribute-h2 {
  font-family: 'Aberforth';
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  margin-block-start: 16px;
  margin-block-end: 16px;
  color: #33377A;
}
