.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* SVG colors to LogoRedeAthis.js */
.ra-svg-green {
  fill: #33a8aa;
}

.ra-svg-blue {
  fill: #33377a;
}

.ra-svg-yellow {
  fill: #f5a449;
}

.ra-svg-gray {
  fill: #55534f;
}

.ra-svg-orange {
  fill: #eb6145;
}

.ra-svg-pink {
  fill: #981f62;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
